.top-home {
    height: 100vh;
    margin-top: 100px;
  background-image: url("https://img.freepik.com/vector-gratis/clientes-personal-plano-interior-banco_1284-6387.jpg?size=626&ext=jpg");
background-repeat: no-repeat;
background-size: cover;
}
